<footer class="page-footer pt-4 bg-grey text-light">


  <div class="container text-center text-md-left">


    <div class="row">

      <div class="col-md-4 mx-auto">

        <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Poznaj nas!</h3>
        <p>Firma PPHU Stamer zajmuje się produkcją rolet zewnętrznych, rolet wewnętrznych, moskitier, ale nie tylko!
          Poznaj w pełni naszą ofertę!</p>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Nasze strony</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://stamer.pl/">stamer.pl</a>
          </li>
          <li class="mt-2">
            <a href="https://sklep.stamer.pl/">sklep.stamer.pl</a>
          </li>
          <li class="mt-2">
            <a
              href="https://allegro.pl/uzytkownik/www_stamer_pl?bmatch=baseline-al-product-cl-eyesa2-dict43-uni-1-5-0318">Allegro</a>
          </li>

        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Kontakt</h5>

        <ul class="list-unstyled">
          <li class="contact">
            <span class="fa fa-phone pr-2"></span>
            <a href="tel:222906275">
              22 290 62 75
            </a>
          </li>
          <li class="contact">
            <span class="fa fa-envelope pr-2 mt-2"></span>
            <a href="mailto:biuro@stamer.pl">
              biuro@stamer.pl
            </a>
          </li>
          <li class="socials">
            <button (click)="goToFacebook()" class="btn btn-info btn-sm text-light rounded">
              <i class="fab fa-facebook-f"> </i>
            </button>

            <button (click)="goToInstagram()" class="btn btn-danger btn-sm text-light rounded">
              <i class="fab fa-instagram"> </i>
            </button>
          </li>
        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Dane firmy</h5>

        <ul class="list-unstyled">
          <li>
            PPHU Stamer
          </li>
          <li>
            Kozietulskiego 70/a
          </li>
          <li>
            96-100 Skierniewice
          </li>
          <li>
            NIP: 835-13-98-050
          </li>
        </ul>

      </div>

    </div>

  </div>

  <div class="copywright bg-dark-grey">
    <p>© Stamer 2020</p>
    <p>Realizacja: <a href="mailto:danielleczycki@gmail.com">Daniel Łęczycki</a></p>
  </div>

</footer>
