button {
  font-size: 1rem;
}

h2,
h3,
h4,
h5,
a {
  color: white;
}

.bg-grey {
  background-color: #343434;
}

.bg-dark-grey {
  background-color: #2b2b2b;
}

.copywright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 20px 0 20px;
}

.copywright p {
  margin: 0;
}

.socials {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}


@media (max-width: 1200px) {
  .container {
    max-width: 90vw;
  }

  .contact span,
  .contact a {
    width: 100%;
    text-align: center;
    display: block;
  }

}

@media (max-width: 768px) {
  .socials {
    justify-content: center;
  }

  .socials button:nth-child(1) {
    margin-right: 10px;
  }

  .socials button:nth-child(2) {
    margin-left: 10px;
  }

  .contact span,
  .contact a {
    text-align: left;
    display: inline;
  }
}
