.grid-header {
  margin-top: 30px;
}

.col-middle {
  max-width: 150px;
}

.col-small {
  max-width: 130px;
}

.sum {
  text-align: right;
  margin-top: 50px;
  padding-right: 100px;
}

.btn-wrapper {
  padding: 0 20px;
}

@media (max-width: 992px) {
  .grid-header {
    display: none
  }

  .btn-wrapper {
    text-align: center;
  }

  .col-middle {
    max-width: 90vw;
  }

  .sum {
    text-align: center;
    padding-right: 0;
  }
}
